<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-8 my-3">
      <h2 class="display-4 py-3 text-center">Formulario para editar</h2>
      <ng-form [formGroup]="formCard" (ngSubmit)="addCard()">
        <div class="form-floating mb-3">
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="title">
          <label for="title">Title</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" formControlName="year" class="form-control" id="year" placeholder="year">
          <label for="year">Year</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" formControlName="director" class="form-control" id="director" placeholder="Director">
          <label for="director">Director</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" formControlName="plot" class="form-control" id="plot" placeholder="plot">
          <label for="plot">Plot</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" formControlName="poster" class="form-control" id="poster" placeholder="poster">
          <label for="poster">Poster</label>
        </div>

        <div class="mb-3">
          <label for="genres">Genres</label>
          <select class="form-select" id="genres" multiple formControlName="genres" [attr.size]="genres.value?.length">
            @for (genero of genreList; track $index) {
              <option value="{{genero}}">{{ genero }}</option>
            }
          </select>
        </div>

        <div class="row mt-3">
          <div class="col-8">
            <div [formGroup]="myNewGenres" class="form-floating mb-3">
              <input type="text" formControlName="newGenre" class="form-control" placeholder="New Genre" id="newGenre">
              <label for="newGenre">Add New Genre</label>
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-primary w-100" type="button" (click)="addNewGenre()">Add New Genre</button>
          </div>
        </div>

        <div formGroupName="imdb">
          <div class="form-floating mb-3">
            <input type="number" formControlName="rating" class="form-control" id="rating" placeholder="rating">
            <label for="rating">Rating</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" formControlName="votes" class="form-control" id="Votes" placeholder="votes">
            <label for="Votes">Votes</label>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success w-50" (click)="addCard()">
            {{editar? 'Actualizar Card' : 'Agregar Nueva Card'}}
          </button>
        </div>
      </ng-form>
    </div>
  </div>
</div>
